__pycache__
re_comp.pyc 
reverse_complement_functions.pyc 
unittests.pyc
testrun_output_ORFs.txt
testrun_output.txt
program_output_debug.out
test.out
fasta_io.pyc
testrun_output_ORFs.out
output.fasta
orf-finder-assignment/:
dictionaries.py
fasta_io.py
functional_tests.py
orf-finder-assignment.zip
orf-finder.py
output.fasta
__pycache__
README.txt
re_comp.py
test_fasta
testrun.py
unittests.py

orf-finder-assignment/__pycache__:
fasta_io.cpython-35.pyc
re_comp.cpython-35.pyc

orf-finder-assignment/test_fasta:
homo-sapians-refseq.zip
random_seqs_dna.fasta
single_sequence.fasta
